@page "/authentication/register"
@using Microsoft.AspNetCore.Authorization
@using ProduceExchangeHub.Shared.Models

@attribute [AllowAnonymous]

<div>
    <h1>@Loc["MainHeader"]</h1>
    
    @if (Message != null)
    {
        <div>
            <p>
                @Message
            </p>
        </div>
    }
    
    <EditForm Model="Model" OnValidSubmit="OnRegisterUserSubmit">
        <fieldset>
            <DataAnnotationsValidator />
            
            <div>
                <label for="firstName">@Loc["FirstNameLabel"]</label>
                <InputText @bind-Value="Model.FirstName" id="firstName"></InputText>
            </div>
            
            <div>
                <label for="lastName">@Loc["LastNameLabel"]</label>
                <InputText @bind-Value="Model.LastName" id="lastName"></InputText>
            </div>

            <div>
                <label for="email">@Loc["EMailLabel"]</label>
                <InputText @bind-Value="Model.EMail" id="email"></InputText>
            </div>
            
            <div>
                <label for="password">@Loc["PasswordLabel"]</label>
                <InputText @bind-Value="Model.Password" type="password" id="password"></InputText>
            </div>
            
            <div>
                <label for="confirm-password">@Loc["ConfirmPasswordLabel"]</label>
                <InputText @bind-Value="Model.ConfirmPassword" type="password" id="confirm-password"></InputText>
            </div>
            
            <div>
                <label for="city">@Loc["CityLabel"]</label>
                <InputText @bind-Value="Model.City" id="city"></InputText>
            </div>
            
            <div>
                <label for="country">@Loc["CountryLabel"]</label>
                <InputSelect @bind-Value="Model.Country" id="country">
                    @foreach (CountryModel country in Countries)
                    {
                        <option value="@country.ISOCode">@country.Name</option>
                    }
                </InputSelect>
            </div>
            
            <div>
                <label for="timezone">@Loc["TimezoneLabel"]</label>
                <InputSelect @bind-Value="Model.Timezone" id="timezone">
                    @foreach (string timezoneName in TimezoneNames)
                    {
                        <option value="@timezoneName">@timezoneName</option>
                    }
                </InputSelect>
            </div>
            
            <div>
                <!-- Language -->
            </div>
        </fieldset>
    </EditForm>
</div>