@using ProduceExchangeHub.Admin.Models
<div>
    <table>
        <thead>
        <tr>
            <th>@Loc["EMailHeader"]</th>
            <th>@Loc["FirstNameHeader"]</th>
            <th>@Loc["LastNameHeader"]</th>
            <th>@Loc["CityHeader"]</th>
            <th>@Loc["CountryISOHeader"]</th>
            <th>@Loc["VerifiedHeader"]</th>
            <th>@Loc["CreatedHeader"]</th>
        </tr>
        </thead>
        <tbody>
        @foreach (UserModel user in Users)
        {
            <tr @onclick="() => GoToUser(user.Id)">
                <td>@user.Email</td>
                <td>@user.FirstName</td>
                <td>@user.LastName</td>
                <td>@user.City</td>
                <td>@user.CountryISO</td>
                <td>@(user.Verified ? Loc["YesLabel"] : Loc["NoLabel"])</td>
                <td>@user.Created</td>
            </tr>
        }
        </tbody>
    </table>
</div>