<nav class="nav-top @NavMenuCssClass">
    @if (_menuOpen)
    {
        <NavLink href="/" @onclick="CloseNavMeny">
            <div class="nav-brand">
                @Loc["HomeLink"]
            </div>
        </NavLink>
    } else
    {
        <NavLink href="/" @onclick="CloseNavMeny">
            <div class="nav-brand">
                @Loc["BrandText"]
            </div>
        </NavLink>
    }
    
    @if (IsLoggedIn)
    {
        <ul class="nav-right-user">
            @if (UserInformation != null)
            {
                <li>@UserInformation.FirstName @UserInformation.LastName</li>
            } else
            {
                <li>@Loc["MissingNameLabel"]</li>
            }
        </ul>
    } else
    {
        <ul class="nav-right-buttons">
            <NavLink href="/authentication/register" @onclick="CloseNavMeny">
                <li>
                    @Loc["RegisterLink"]
                </li>
            </NavLink>
            <NavLink href="/authentication/login" @onclick="CloseNavMeny">
                <li>
                    @Loc["LoginLink"]
                </li>
            </NavLink>
        </ul>
    }
    
    <a href="javascript:void(0);" class="menu-icon @ChangeMenuButtonClass" @onclick=ToggleNavMenu>
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
    </a>
    
    <LanguageSelector></LanguageSelector>
</nav>